Name: Poorvika R    
Date: 14-09-2024

Part1: LISTS 1)Creating and accessing of elements from a list

In [1]:
fruits = ["apple","mango","banana","cherry","orange"] #lists of fruits
print(fruits[1],fruits[3])

mango cherry

2.Modifying a list

In [3]:
fruits = ["apple","mango","banana","cherry","litchi"]
fruits.append("orange")
print(fruits)
fruits[2] = "kiwi"
print(fruits)
fruits_2 = fruits.pop()
print(fruits)

['apple', 'mango', 'banana', 'cherry', 'litchi', 'orange']
['apple', 'mango', 'kiwi', 'cherry', 'litchi', 'orange']
['apple', 'mango', 'kiwi', 'cherry', 'litchi']

3. Lists method

In [4]:
fruits = ["apple","mango","banana","cherry","litchi","apple"]
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)
print(fruits.count("apple"))

['apple', 'apple', 'banana', 'cherry', 'litchi', 'mango']
['mango', 'litchi', 'cherry', 'banana', 'apple', 'apple']
2

Part2: Tuples

1.Create and access elements

In [6]:
num=(10,20,30,40,50)
print(num[0])
print(num[4])

10
50

2.Immutable nature of tuples

In [7]:
num=(10,20,30,40,50)
num[2]=25

TypeError: 'tuple' object does not support item assignment

3.Tuple operation

In [8]:
num=(10,20,30,40,50)
a,b,c,d,e=num
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=",e)

a= 10
b= 20
c= 30
d= 40
e= 50

Part3: Dictionaries

1.Creat and access elements

In [9]:
dict_1={"name":"john","age":"20","subject":["math","physics","chemistry"]}
print(dict_1["age"])

20

2.Modify the dictionary

In [13]:
dict_1={"name":"john","age":"20","subject":["math","physics","chemistry"]}
dict_1["grade"]="A"
dict_1["age"]=22
dict_1.pop("subject")
print(dict_1)

{'name': 'john', 'age': 22, 'grade': 'A'}

3.Dictionary Methods

In [15]:
dict_2={'name':'john','age':21,'grade':'A'}
print(dict_2.keys())
print(dict_2.values())

dict_keys(['name', 'age', 'grade'])
dict_values(['john', 21, 'A'])